[Unit]
Description=Weyoung City Backend
After=podman.service

[Service]
Type=simple
User=huangchenxuan
ExecStart=/home/huangchenxuan/app/weyoungcity/.venv/bin/python /app/weyoungcity/judge.py

[Install]
WantedBy=multi-user.target